.chat {
  .chat__messages {
    width: 50%;
    width: 100%;
    padding: 20px 10px;
    overflow: scroll;
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    li {
      margin-bottom: 30px;
      span {
        font-weight: 600;
      }
      .self {
        color: $black;
      }
      .out {
        color: $organge;
      }
    }
  }
  .chat__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -50px;
    input {
      height: 50px;
      width: 120%;
      padding: 0px 25px;
      box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
        0 3px 7px -3px rgba(0, 0, 0, 0.3);
    }
  }
}
