.gameContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  .canvas,
  .chatMessages {
    background-color: white;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  }
  .main {
    margin-right: 200px;
    #jsCanvas {
      width: 700px;
      height: 700px;
    }
    .controls {
      margin-top: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .colors {
        margin: 20px;
        display: flex;
        &:hover .color {
          opacity: 0.95;
          transform: translateX(-3px);
        }
        .color {
          height: 50px;
          width: 50px;
          cursor: pointer;
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
          border-radius: 25px;
          transition: opacity 0.1s linear, scale 0.1s linear,
            transform 0.1s linear;
          &:hover {
            opacity: 1;
            transform: scale(1.1);
            & ~ .color {
              transform: translateX(3px);
            }
          }
          &.selectedColor {
            box-shadow: none;
          }
        }
      }
      button {
        margin-left: 25px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
          0 1px 3px rgba(0, 0, 0, 0.08);
        border: 0px;
        padding: 5px 7px;
        min-width: 50px;

        border-radius: 5px;
        font-weight: 600;
        border: 2px solid rgb(142, 142, 147);
        color: rgb(142, 142, 147);
        font-size: 14px;
        cursor: pointer;
        transition: transform 0.1s linear;
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
  .chat {
    width: 200px;
  }
}
