@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "variables";
@import "reset";
@import "login";
@import "notifications";
@import "chat";
@import "game";
@import "board";

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  background-color: $greyColor;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  .loginBox,
  .gameContainer {
    display: none;
  }
  &.loggedOut {
    .loginBox {
      display: block;
    }
  }
  &.loggedIn {
    .gameContainer {
      display: flex;
    }
  }
}
